
/* Header area */


/* Hero Section */


/* Section features  */


/* Section Downloads */


/* Section FAQs */

/* Footer */

/* Generales */



@media (min-width: 415px) {




}

@media screen and (min-width: 785px) and (max-width: 1472px) {
    /* .contact div {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;
    } */



    
}

