C:\Users\micro\Documents\personal\Jordi\CodigosGen\especialitzacio\sprint1\bookmark-landing-page/
C:\Users\micro\Documents\personal\Jordi\CodigosGen\especialitzacio\sprint1\css\styles copy.css/
C:\Users\micro\Documents\personal\Jordi\CodigosGen\especialitzacio\sprint1\css\styles-sass.scss/
C:\Users\micro\Documents\personal\Jordi\CodigosGen\especialitzacio\sprint1\Descripcion ultimos cambios.txt/
