C:\Users\micro\Documents\personal\Jordi\CodigosGen\especialitzacio\sprint1\node_modules/
C:\Users\micro\Documents\personal\Jordi\CodigosGen\especialitzacio\sprint1\bookmark-landing-page/
C:\Users\micro\Documents\personal\Jordi\CodigosGen\especialitzacio\sprint1\Descripcion ultimos cambios.txt/
