@media screen and (min-width: $breakpoint-tablet) {
    h1 {
    text-align: left;
    }

    // Hero Section
    // .simple {
    //     display: flex;
    //     flex-direction: row-reverse;
    //     justify-content: center;
    //     align-items: center;
    //     padding-top: 3rem;
    //     width: 80%;
    //     margin: 0 auto;
    // }

    // .simple .description {
    //     padding-left: 4rem;
    //     padding-right: 2rem;
    // }

    // .simple image {
    //     padding-right: 3rem;
    // }

    // Features Section
    .features {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 3rem;
        width: 80%;
        margin: 0 auto;
    }

    .features .description {
        width: 50%;
        margin: 0 auto;
    }

    .feat-description img {
        width: 100%;
    }

    .feat-description h2 {
        text-align: left;
    }

    .feat-desc-image {
        display: block;
        position: relative;
        z-index: 1; 
        max-width: 100%;
        height: auto;
    }

    .feat-desc-image::before {
        @include imagebefore($left: -100px, $top: 35%, $width: 100%, $height: 70%);
    }

    .feat-desc-image img{
        max-width: 100%;
        height: auto;
        position: relative;
        display: inline-block;
    }

        .features-links {
        display: flex;
        flex-direction: row;
        text-align: center;
        // width: 57%;
        width: calc(max-width - 30%);
        padding-top: 1.5rem;
    }   

    .features-links a {
        text-decoration: none;
        color: $text-color-midgrey;
        border-top: none;
        border-bottom: 2px solid $line-color-lightgrey;
        cursor: pointer;
        transition: border-color 0.3s;
        padding-left: 2rem;
        padding-right: 2rem;
        margin: 0 auto;
    }

    .feat-description {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
    }

    .feat-description div {
        width: 50%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin-left: 3rem;
        margin-top: 5rem;
    }

    .feat-description div button {
        display: block;
        width: 30%;
        margin: 2rem auto;
    }

    .features .feat-description h2 {
        width: 100%
    }

    // Download
        .download .description {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 3rem;
        width: 40%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    .download div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 400px;
        width: 60%;
    }

    .navigator-one {
        align-self: flex-start;
        margin-right: 2rem;
    }

    .navigator-two {
        align-self: center;
        margin-right: 2rem;
    }

    .navigator-three {
        align-self: flex-end
    }

    // FAQs
    .faqs {
        width: 50%;
        margin: 0 auto;
    }

    // Footer
    .contact {
        width: 35%;
    }

    .contact label {
        font-size: 1.8rem;
    }

    .contact div {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;
    }

    .foot-form {
        box-sizing: border-box;
    }

    .foot-form:nth-child(1) {
        width: 100%;
    }

    .foot-form:nth-child(2) {
        width: 55%;
    }

    .foot-form:nth-child(3) {
        width: 35%;
    }

    .contact input {
        width: 80%;
        margin: 0;
        margin-right: 2rem;
    }

    .contact .btn-tertiary {
        width: 200px;
        /* padding: 0 2rem 0 2rem; */
        margin: 0;
    }
    .contact button {
        margin-bottom: 0;
    }

    #footer-pure {
        flex-direction: row;
        justify-content: center;
    }

    #footer-pure .logo {
        margin: 0 1rem 0 2rem;
        width: 12%;
        flex-grow: 1;
    }

    #footer-pure nav {
        flex-grow: 3;
    }

    .menu-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
    }

    .menu-footer li a {
        margin: 0 2rem;
    }

    .social-foot {
        margin: 0;
        width: 15%;
        flex-grow: 1;
    }

}

@media screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop-min) {
    body {
        font-size: 15px;
    }

    // Footer
    .contact div {
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
    }
    
    .contact {
        width: 80%;
    }
    
    .contact label {
        font-size: 1.3rem;
        display: block;
        margin-bottom: 1rem;
    }
    
    .contact input {
        margin-bottom: 1rem;
    }
}


@media screen and (min-width: $breakpoint-desktop-min) and (max-width: $breakpoint-desktop-max) {
    body {
        font-size: 16px;
    }
    // Header Section
    .header {
        display: flex;
        justify-content: flex-start;
    }
    
    .logo {
        flex: none;
        margin: 0;
        padding: 0;
        width: 20%;
    }
    
    .menu {
        display: none;
    }
    
    .menu-list-big {
        display: flex;
        flex-direction: row;
        padding-left: 0;
        align-items: center;
        margin-left: auto;
    }
    
    .menu-list-big ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        list-style: none;
    }
    
    .menu-list-big ul a {
        @include a-styles();
        margin-left: 2rem;
        font-size: 0.7rem;
        color: $text-color-diverse;
    }
    
    // Hero Section
    .simple {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        padding-top: 3rem;
        width: 80%;
        margin: 0 auto;
    }

    .simple .description {
        padding-left: 4rem;
        padding-right: 2rem;
    }

    .simple image {
        padding-right: 3rem;
    }

    //Footer
    .contact label {
        font-size: 1.5rem;
    }

    .foot-form {
        box-sizing: border-box;
        /* margin: 0.5rem; */
    }
    
    .foot-form:nth-child(3) {
        width: 25%;
    }

    // Other
    #btn-login {
        @include button($btncolor: $btn-tertiary-color, $color: $text-color-nearwhite);
        // border: none;
        width: 150px;
        margin-left: 2rem;
    }
    
    #btn-login:hover {
        color: $text-hovered;
        background-color: $btn-lines-drop-menu;
    }

}
