@media screen and (min-width: $breakpoint-tablet) {
    body {
        font-size: 15px;
    }

    // Hero Section
    .simple {
        max-width: 80%;
    }

    // Features Section
    .features {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 3rem;
        width: 80%;
        margin: 0 auto;
    }

    .features .description {
        width: 80%;
        margin: 0 auto;
    }

    .feat-description h2 {
        margin-top: 2.5rem;
    }

    .features-links {
        display: flex;
        flex-direction: row;
        text-align: center;
        width: calc(max-width - 30%);
        padding-top: 1.5rem;
        justify-content: center;
    }   

    .features-links a {
        text-decoration: none;
        color: $text-color-midgrey;
        border-top: none;
        border-bottom: 2px solid $line-color-lightgrey;
        cursor: pointer;
        transition: border-color 0.3s;
        padding-left: 2rem;
        padding-right: 2rem;
        margin: 0 auto;
    }

    .feat-description img {
        width: 80%;
        max-width: 80%;
    }

    .feat-desc-image {
        display: flex;
        position: relative;
        justify-content: center;
        z-index: 1; 
        width: 100%;
        height: auto;
    }
    
    .feat-desc-image::before {
        @include imagebefore($left: -27%, $top: 40%, $width: 100%, $height: 70%);
        border-radius: 0 0 15rem 0; 
    }
    
    .feat-description h2 {
        padding-top: 3rem;
        text-align: center;
    }

    // Download
    .download .description {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 3rem;
        width: 40%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    .download div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 400px;
        width: 60%;
    }

    .navigator-one {
        align-self: flex-start;
        margin-right: 2rem;
    }

    .navigator-two {
        align-self: center;
        margin-right: 2rem;
    }

    .navigator-three {
        align-self: flex-end
    }

    // FAQs
    .faqs {
        width: 50%;
        margin: 0 auto;
    }

    .contact {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact label {
        font-size: 1.3rem;
        display: block;
        margin-bottom: 1rem;
    }

    .contact div {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;
    }

    .foot-form {
        box-sizing: border-box;
    }

    .foot-form:nth-child(1) {
        width: 100%;
    }

    .foot-form:nth-child(2) {
        width: 55%;
    }

    .foot-form:nth-child(3) {
        width: 35%;
    }

    .contact input {
        width: 80%;
        margin: 0;
        margin-bottom: 1rem;
    }

    .contact .btn-tertiary {
        width: 200px;
        margin: 0;
    }
    .contact button {
        margin-bottom: 0;
    }
}

@media screen and (min-width: $breakpoint-desktop-min) {
    body {
        font-size: 16px;
    }

    .description {
        @include style_description($text-color-p, 1rem, 1.8)
    }

    h1 {
        text-align: left;
        font-size: 2rem;
        margin-right: 5%;
    }

    // Header Section
    .header {
        display: flex;
        justify-content: flex-start;
    }
    
    .logo {
        flex: none;
        margin: 0;
        padding: 0;
        width: 20%;
    }
    
    .menu {
        display: none;
    }
    
    .menu-list-big {
        display: flex;
        flex-direction: row;
        padding-left: 0;
        align-items: center;
        margin-left: auto;
    }
    
    .menu-list-big ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        list-style: none;
    }
    
    .menu-list-big ul a {
        @include a-styles();
        margin-left: 2rem;
        font-size: 0.7rem;
        color: $text-color-diverse;
    }
    
    // Hero Section
    .simple {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        padding-top: 3rem;
        width: 100%;
        margin: 0;
        max-width: 100%;
    }

    .simple .description {
        margin: 0 5% 0 15%;
        width: 40%;
    }

    .simple img {
        width: 80%;
    }

    .image::before {
        @include imagebefore($left: 10%, $top: 30%, $width: 100%, $height: 70%)
    }
    
    // Features
    .features {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
    }

    .features .description p {
        width: 60%;
        margin: 0 auto;       
    }

    .features-links a {
        width: 100%;
    }

    .feat-description {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        margin: 0 5% 0 15%;
        width: 100%;
    }
    
    .feat-description img {
        width: 80%;
        max-width: 60%;
    }

    .feat-description div p {
        text-align: left;
        width: 80%;
    }

    .feat-description h2 {
        text-align: left;
    }

    .feat-desc-image::before {
        @include imagebefore($left: -27%, $top: 40%, $width: 100%, $height: 70%);
        border-radius: 0 0 15rem 0; 
    }

    .feat-description div button {
        display: block;
        width: 30%;
        margin: 2rem 0;
    }

    // Downloads
    .download .description {
        padding-top: 8rem;
        margin-bottom: 2rem;
    }

    // FAQs
    .faqs .description {
        padding-top: 8rem;
    }

    .summary-text, .question {
        font-size: 1rem;;
    }

    //Footer
    .contact label {
        font-size: 1.8rem;
        max-width: 30%;
    }

    .contact div {
        display: flex;
        flex-direction: row;
        width: 50%;
        justify-content: center;
        align-items: center;
    }

    .contact input {
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 5%;
    }

    .foot-form {
        box-sizing: border-box;
    }
    
    .foot-form:nth-child(3) {
        width: 25%;
    }

    #footer-pure {
        flex-direction: row;
        justify-content: center;
    }

    #footer-pure .logo {
        margin: 0 1rem 0 2rem;
        width: 12%;
        flex-grow: 1;
    }

    #footer-pure nav {
        flex-grow: 3;
    }

    .menu-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
    }

    .menu-footer li a {
        margin: 0 2rem;
    }

    .social-foot {
        margin: 0;
        width: 15%;
        flex-grow: 1;
    }

    // Other
    #btn-login {
        @include button($btncolor: $btn-tertiary-color, $color: $text-color-nearwhite);
        width: 150px;
        margin-left: 2rem;
    }
    
    #btn-login:hover {
        color: $text-hovered;
        background-color: $btn-lines-drop-menu;
    }
}
