// Form footer
.form {
    background-color: $background-color-form;
    font-family: $main-font;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.joined {
    margin: 2rem 0;
    color: $text-color-nearwhite;
    font-size: 0.7rem;
}

.contact {
    width: 80%;
}

.contact div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact label {
    color: $text-color-nearwhite;
    font-size: 1.2rem;
    display: block;
    margin-bottom: 1rem;
}

.contact input {
    @include contact_input_btn($height: 5vh, $mbtn: 1rem);
}

.contact button {
    @include contact_input_btn($height: 5vh, $mbtn: 3rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.invalid {
    border-color: $text-hovered; 
}

#errorMSG {
    display: none;
} 
