// Variables
$dropdown-menu-color: rgba(47,53,79,0.8);
$text-color-midgrey: rgb(91,94,103);
$text-color-p: grey;
$line-color-lightgrey: rgb(224,223,228);
$background-image-blue: rgb(82,102,223);
$shadow-color-nearwhite: rgb(232,232,242);
$background-color-form: rgb(82,102,223);
$text-color-nearwhite: rgb(250,250,242);
$text-color-diverse: black;
$background-footer: rgb(36,41,70);
$text-hovered : red;
$btn-lines-drop-menu: white;
$btn-primary-color: rgb(83,101,225);
$btn-secondary-color: rgb(247,247,247);
$btn-tertiary-color: rgb(251,88,89);

$main-font: Arial, Helvetica, sans-serif;

$breakpoint-tablet: 480px;
$breakpoint-desktop-min: 767px;
